/* testing if the code  is still working  */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* it will put the children to screen's center */
  height: 100dvb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  /* its jonas trick it's great to build responsve web i will tell you later for now  don't use px expept for little stuff  1 rem = 10 px  */
  font-size: 62.5%;
  overflow-x: hidden;
}

/* i write the css according to the application's overview from top to bottom  so that the 1st part becomes the application container which contains all the app and the 2nd is player 2-status-container since it is at the top of all others*/

.app-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.player2-stats-container {
  background-color: lightblue;
  width: 16.65rem;
  height: 10rem;
  align-self: flex-end;
  margin-right: 3.7rem;
}
.game-container {
  /* 90rem = 900px
  Since the container is square the width and the height must 
  be equal.And 55.5 rem is 550px which can be divide to 15 equal 
  squares (each square has 3.7 rem width and height)

  NB:-Each numbers are based on calculations they are not random
  */
  width: 55.5rem;
  height: 55.7rem;
  align-self: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.upper-container,
.middle-container,
.lower-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.square {
  /* when the border is setted to none, it is inorder
  to prevernt border overlapping
   */
  height: 22.2rem;
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
}
.squares {
  height: 11.1rem;
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
}

.player1-stats-container {
  background-color: lightpink;
  width: 16.65rem;
  height: 10rem;
  align-self: flex-start;
  margin-left: 3.7rem;
}

/* Preventing border overlapping  */
.upper-left-container,
.upper-right-container,
.lower-left-container,
.lower-right-container,
.middle-middle-container {
  border: none;
}

/* for only  */
.upper-left-container {
  background-color: #ef2424;

  position: relative;
}
/* inner rectangle : creating inner rectangle and circles :  the reason why the width of the inner rectangle is 148px is the upper left corner is 222px by 222px then ,  the we subtract 37px which is the box  from top:buttom and top: right and finaly it  becames 148px  */
.inner-rectangle-for-upper-left {
  width: 14.8rem;
  height: 14.8rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.circles-for-upper-left {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #ef2424;
  border-radius: 50%;
  position: absolute;
  margin: 0.5rem;
}

.circle1-for-upper-left {
  top: 1rem;
  left: 1rem;
}

.circle2-for-upper-left {
  top: 1rem;
  right: 1rem;
}

.circle3-for-upper-left {
  bottom: 1rem;
  left: 1rem;
}

.circle4-for-upper-left {
  bottom: 1rem;
  right: 1rem;
}

.upper-right-container {
  background-color: #2f9e44;
  position: relative;
}
/* for upper right container : creating inner rectangle and circles : */
.inner-rectangle-for-upper-right {
  width: 14.8rem;
  height: 14.8rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.circles-for-upper-right {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #2f9e44;
  border-radius: 50%;
  position: absolute;
  margin: 0.5rem;
}

.circle1-for-upper-right {
  top: 1rem;
  left: 1rem;
}

.circle2-for-upper-right {
  top: 1rem;
  right: 1rem;
}

.circle3-for-upper-right {
  bottom: 1rem;
  left: 1rem;
}

.circle4-for-upper-right {
  bottom: 1rem;
  right: 1rem;
}
/* for the lower left : creating inner rectangle and circles : */
.lower-left-container {
  position: relative;
  background-color: rgb(0, 200, 255);
}
.inner-rectangle-for-lower-left {
  width: 14.8rem;
  height: 14.8rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.circles-for-lower-left {
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgb(0, 200, 255);
  border-radius: 50%;
  position: absolute;
  margin: 0.5rem;
}

.circle1-for-lower-left {
  top: 1rem;
  left: 1rem;
}

.circle2-for-lower-left {
  top: 1rem;
  right: 1rem;
}

.circle3-for-lower-left {
  bottom: 1rem;
  left: 1rem;
}

.circle4-for-lower-left {
  bottom: 1rem;
  right: 1rem;
}
/* for lower right:  creating inner rectangle and circles */
.lower-right-container {
  position: relative;
  background-color: rgb(255, 230, 0);
}
.inner-rectangle-for-lower-right {
  width: 14.8rem;
  height: 14.8rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.circles-for-lower-right {
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgb(255, 230, 0);
  border-radius: 50%;
  position: absolute;
  margin: 0.5rem;
}

.circle1-for-lower-right {
  top: 1rem;
  left: 1rem;
}

.circle2-for-lower-right {
  top: 1rem;
  right: 1rem;
}

.circle3-for-lower-right {
  bottom: 1rem;
  left: 1rem;
}

.circle4-for-lower-right {
  bottom: 1rem;
  right: 1rem;
}
.upper-middle-container,
.lower-middle-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: none;
  border-left: none;
  border-right: 1px solid black;
}

.upper-middle-container-square,
.lower-middle-container-square {
  height: 3.7rem;
  border: 1px solid black;
  border-right: none;
}
.upper-middle-container-square {
  border-top: none;
}
.lower-middle-container-square {
  border-bottom: none;
}

.middle-left-container,
.middle-right-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid black;
}

.middle-left-container-square,
.middle-right-container-square {
  height: 3.7rem;
  border: 1px solid black;
  border-bottom: none;
  /* border-right: none; */
}

.middle-left-container-square {
  border-left: none;
}
.middle-right-container-square {
  border-right: none;
}

/* Creating 4 triangles */
.middle-middle-container {
  border-bottom: 5.55rem solid rgb(0, 200, 255);
  border-right: 5.55rem solid rgb(255, 230, 0);
  border-top: 5.55rem solid rgb(30, 162, 4);
  border-left: 5.55rem solid #ef2424;
}

#sqr1,
#sqr52,
#sqr53,
#sqr54,
#sqr55,
#sqr56 {
  background-color: rgb(0, 200, 255);
}

#sqr14,
#sqr57,
#sqr58,
#sqr59,
#sqr60,
#sqr61 {
  background-color: #ef2424;
}

#sqr27,
#sqr62,
#sqr63,
#sqr64,
#sqr65,
#sqr66 {
  background-color: rgb(30, 162, 4);
}

#sqr40,
#sqr67,
#sqr68,
#sqr69,
#sqr70,
#sqr71 {
  background-color: rgb(255, 230, 0);
}

#sqr40 {
  border-bottom: 1px solid black;
}

#sqr51,
#sqr12,
#sqr25,
#sqr38 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upward-arrow {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 200, 255);
}

.right-arrow {
  font-size: 2rem;
  font-weight: bold;
  color: #ef2424;
}

.downward-arrow {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(30, 162, 4);
}

.left-arrow {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 225, 0);
}

#sqr9,
#sqr22,
#sqr35,
#sqr48 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 3.7rem;
}
